body {
  margin-top: 6em;
  margin-bottom: 6em;
  font-size: 2em;
  font-family: "Times New Roman";
}

img {
  margin-bottom: 1em;
}

.header {
  background-color: #E74C3C;
}

.alexb-website-link {
  padding-top: 2em;
}

.alexb-website-link > a {
  color: #E74C3C;
  font-weight: bold;
  font-size: 1.2em;
}

.alexb-website-link > a:hover {
  color: #FF6C5C;
  font-weight: bold;
}

.tutorial {
  text-align: center;
}

.tutorial > h2 {
  font-family: Helvetica;
  font-size: 2.5em;
}

.tutorial > h3 {
  font-family: Helvetica;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bridge-uml {
  width: 100%;
  max-width: 45em;
}

.tutorial > .list-group {
  padding-bottom: 1em;
}
